.header{
    position: fixed;
    top: 0;
    left: 0;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    width: 100%;
    margin-bottom: 10px;
}
.name{
    margin-left: 10%;
}
.cart{
    margin-right: 10%;
}


